  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h3{
  margin-top :10px !important;
}

.no-margin{
  margin-bottom: 0px !important;
}

.no-margin-top{
  padding-top: 0px !important;
}

.add-margin{
  margin-top: 5% !important;
}


.perfect{
  font-size: 48px;
}

.perfect-height{
  height: 48px;
}


#news{
  font-weight: bolder;
  font-size: larger;
}

.addMarginTopLogo{
  margin-top: 3%!important;
}

.addMarginLeft{
  margin-left: 5%!important;
}

.bold{
  font-weight: bolder!important;
  font-size: 150%!important;
}

.engraved{
  text-shadow: 2px 2px black;
}

html {
  font-family: 'Cairo', sans-serif;
}
